<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.TreeMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.Tree" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="checked" property="checked" jdbcType="VARCHAR" />
  </resultMap>
  
   <select id="getTreeAll" resultType="com.jk.model.Tree"  >
   SELECT  tp.* FROM y_user tu , y_user_role ur ,y_role tr , y_role_tree rp ,y_tree tp
	WHERE  tu.userid= ur.userid 
	AND    ur.roleid = tr.roleid
	AND    tr.roleid= rp.roleid
	AND    rp.treeid = tp.id
    AND   tu.userid= #{userid}
	GROUP BY tp.name
  </select>
  

    <select id="querypree" resultMap="BaseResultMap">
        select * from y_tree
        <where>
            <if test="p.name!=null">
                and name like '%${p.name}%'
            </if>
        </where>
        limit #{papa},#{rows}
    </select>

    <select id="querypreecount" resultType="long">
        select count(*) from y_tree
        <where>
            <if test="p.name!=null">
                and name like '%${p.name}%'
            </if>
        </where>
    </select>
  
  
  
  
  
  
  
  
  
  
</mapper>