<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
</head>
<body>
<form id="addFormId">
    <table>
        <tr>
            <td>角色名称</td>
            <td><input class="easyui-validatebox" name="rolename" style="width:100px;"/></td>
        </tr>
        <tr>
            <td>角色描述</td>
            <td><input class="easyui-validatebox" name="text" style="width:100px;"/></td>
        </tr>
    </table>
</form>
</body>
</html>