<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
</head>
<body>
<form id="addFormId">
    <table>
        <tr>
            <td>权限名称</td>
            <td><input class="easyui-validatebox" name="name" style="width:200px;"/></td>
        </tr>
        <tr>
            <td>上级id</td>
            <td><input class="easyui-validatebox" name="pid" style="width:200px;"/></td>
        </tr>
        <tr>
            <td>权限介绍</td>
            <td><input class="easyui-validatebox" name="text" style="width:200px;"/></td>
        </tr>
        <tr>
            <td>跳转路径</td>
            <td><input class="easyui-validatebox" name="url" style="width:200px;"/></td>
        </tr>
        <tr>
            <td>状态</td>
            <td><input class="easyui-validatebox" name="state" style="width:200px;"/></td>
        </tr>
    </table>
</form>
</body>
</html>