<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="<%=basePath%>">
    <title>标题</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <script src="../js/jquery-1.8.0.js"></script>
    <link rel="stylesheet" type="text/css" href="../js/easyui-1.7.0/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../js/easyui-1.7.0/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../js/easyui-1.7.0/demo.css">
    <script type="text/javascript" src="../js/easyui-1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="../js/easyui-1.7.0/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/easyui-1.7.0/plugins/jquery.datagrid.js"></script>
</head>
<!-- layout布局开始 -->
<body class="easyui-layout">
<div data-options="region:'north',title:'top',split:true" style="height:100px;">
    <center><h2>欢迎<span th:text="${session.users.username}"></span>登录管理系统<a href="javaScript:zx()">注销</a></h2></center>
</div>
<div data-options="region:'west',title:'West',split:true" style="width:150px;">
    <!-- 手风琴开始 -->
    <div id="aa" class="easyui-accordion"  fit=true >
        <div title="系统管理"style="overflow:auto;">
            <ul id="tongtree"></ul>
        </div>
    </div>
    <!--手风琴结束  -->
</div>
<div data-options="region:'center',title:'center'" style="padding:5px;background:#eee;">
    <!--选项卡开始  -->
    <div id="tabsId" class="easyui-tabs" fit=true>
    </div>
    <!--选项卡结束  -->
</div>
</body>
<script type="text/javascript">
    $(function(){
        addTabls();
        gettongtree();
    });
    //同步树
    function gettongtree(){
        $('#tongtree').tree({
            url:'../user/getTreeAll'
        });
    }
    function  addTabls(){
        $('#tongtree').tree({
            onClick: function(node){
                console.log(node);
                //先获取选项卡,然后判断是否存在该选项卡
                var tag = $("#tabsId").tabs('exists',node.text);
                if(tag){
                    //如果存在当前选项卡，就让他显示这个选项卡
                    $('#tabsId').tabs('select',node.text);
                }else{
                    // 判断是不是父节点 如果是 是父节点 就  不让 打开  tabls
                    if( (node.children=="" ||  node.children==null) && node.state != 'closed' && node.pid !=0){
                        if(node.url == null ){
                            // 如果没有就新建
                            $('#tabsId').tabs('add',{
                                title:node.text,
                                closable:true,
                                content:createJsp("/404.jsp")
                            });
                        }else{
                            // 如果没有就新建
                            $('#tabsId').tabs('add',{
                                title:node.text,
                                closable:true,
                                content:createJsp(node.url)
                            });
                        }
                    }
                }
            }
        });
    }
    //去加载一个界面
    function createJsp(url){
        return '<iframe scrolling="auto" frameborder="0"  src="..'+ url + '" style="width:100%;height:100%;"></iframe>';
    }

    function zx(){
        $.ajax({
            url:"../user/zx",
            type:"post",
            success:function(){
                location.href="../user/tologin";
            }
        })
    }
</script>




</html>