<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
</head>
<body>
<form id="addFormId">
    <input type="hidden" name="id" th:value="${per.id }">
    <table>
        <tr>
            <td>权限名称</td>
            <td><input class="easyui-validatebox" name="name" th:value="${per.name }" style="width:100px;"/></td>
        </tr>
        <tr>
            <td>上级id</td>
            <td><input class="easyui-validatebox" name="pid" th:value="${per.pid }" style="width:100px;"/></td>
        </tr>
        <tr>
            <td>权限介绍</td>
            <td><input class="easyui-validatebox" name="text" th:value="${per.text }" style="width:100px;"/></td>
        </tr>
        <tr>
            <td>跳转路径</td>
            <td><input class="easyui-validatebox" name="url" th:value="${per.url }" style="width:100px;"/></td>
        </tr>
        <tr>
            <td>状态</td>
            <td><input class="easyui-validatebox" name="state" th:value="${per.state }" style="width:100px;"/></td>
        </tr>
    </table>
</form>
</body>
</html>