<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
</head>
<body>
<form id="addFormId">
    <input type="hidden" name="userid" th:value="${user.userid}" >
    <table>
        <tr>
            <td>用户名</td>
            <td><input class="easyui-validatebox" name="username" th:value="${user.username }" style="width:100px;"/></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input class="easyui-validatebox" name="userpwd" th:value="${user.userpwd }"style="width:100px;"/></td>
        </tr>
    </table>
</form>
</body>
</html>