<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script  src="../jslib/highcharts.js"></script>
    <script  src="../jslib/jquery-1.8.0.js"></script>
</head>
<body>
<div id="container" style="min-width:400px;height:400px"></div>
</body>
<SCRIPT>

    $(function(){
        $.ajax({
            url:"../movie/queryzhu",
            type:"post",
            dataType:"json",
            success:function (data) {
                var chart = Highcharts.chart('container', {
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: '按星期查询'
                    },
                    subtitle: {
                        text: '数据来源: Wikipedia.org'
                    },
                    xAxis: {
                        categories: [' '],
                        title: {
                            text: null
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: '数量',
                            align: 'high'
                        },
                        labels: {
                            overflow: 'justify'
                        }
                    },
                    tooltip: {
                        valueSuffix: ' 个'
                    },
                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: true,
                                allowOverlap: true // 允许数据标签重叠
                            }
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        x: -40,
                        y: 100,
                        floating: true,
                        borderWidth: 1,
                        backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                        shadow: true
                    },
                    series: data
                });
            },error:function () {
                alert("查询失败")
            }
            })
    })
</SCRIPT>
</html>